*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: url(Photobook/R1-04531-005A.JPG);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 38% 62%;
    /*align-items: center;*/
}
.navbar2{
    width: 83.33vw;
    height: 8.844vh;
    /*padding-left: 9.9vw;*/
    float: left;
    margin: auto;
    position: fixed;
    z-index: 6;
}

.icon{
    width: 6.613vw;
    float: left;
    height: 8.2547vh;
    position: fixed;
    /*left: 6.944vw;*/
}

.contain-title{
    grid-column: 2;
    grid-row: 2;
}
.title{
    color:rgb(255, 166, 0);
    font-size: 13.33vh;
    font-family:'Big Caslon', -apple-system, BlinkMacSystemFont, medium;
    text-align: center;
    /*padding-bottom: 1.5cm;
    padding-left: 2.5cm;*/
}
a:link { 
    text-decoration: none; 
  } 
  a:visited { 
    text-decoration: none; 
  } 
  a:hover { 
    text-decoration: none; 
  } 
  a:active { 
    text-decoration: none; 
  }

.logo{
    color:rgb(255, 166, 0);
    font-size: 2.43vw;
    font-family:'Times New Roman', Times, serif;
    padding-left: 1.736vw;
    float: left;
    padding-top: 1.18vh;
}

.menu{
    /*width: 400px;
    float: left;
    height: 70px;*/
    width: 27.77vw;
    float: left;
    height: 8.2547vh;
    /*height: 7.77vh;*/
    /*position: fixed;*/
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vw;
}
ul li{
    /*list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;*/
    list-style: none;
    margin-left: 11vw;
    /*margin-top: 1.8vw;*/
    padding-top: 1.18vh;
    font-size: 0.9vw;
}

ul li a{
    text-decoration: none;
    color: aliceblue;
    -webkit-text-stroke: 0.5px rgb(255, 166, 0);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color:rgb(255, 166, 0)
}

#about{
    color:rgb(255, 166, 0);
    font-size: 2.22vh;
    font-family:'Big Caslon', -apple-system, BlinkMacSystemFont, medium;
    position: absolute;
    top: 30vh;
    left: 30vw;
    /*text-align: center;
    padding-left: 100px;
    padding-top: 50px;*/
    
}

#contact{
    color:rgb(255, 166, 0);
    font-size: 2.22vh;
    font-family:'Big Caslon', -apple-system, BlinkMacSystemFont, medium;
    position: absolute;
    top: 25vh;
    left: 63vw;
    text-align: center;
    /*padding-right: 100px;
    padding-top: 50px;*/
}
/*.contain-main-exhibition{
    grid-column: 1;
    grid-row: 2;
}
#main-exhibition{
    color:rgb(255, 166, 0);
    font-size: 2.22vh;
    font-family:'Big Caslon', -apple-system, BlinkMacSystemFont, medium;
    padding-left: 0;
    padding-top: 0;
    text-align: right;
}*/

#tribute{
    color:rgb(255, 166, 0);
    font-size: 2.22vh;
    font-family:'Big Caslon', -apple-system, BlinkMacSystemFont, medium;
    position: absolute;
    top: 50vh;
    left: 80vw
    /*text-align: center;
    padding-top: 270px;*/
}
/*.contain-gallery{
    grid-column: 3;
    grid-row: 2

}
#gallery{
    color:rgb(255, 166, 0);
    font-size: 2.22vh;
    font-family:'Big Caslon', -apple-system, BlinkMacSystemFont, medium;
    padding-left: 0;
    padding-top: 0px;
}*/

.about{
    display: grid;
    grid-column: 1fr 1fr;
    height: 100vh;
   /* background-color: rgba(57, 122, 70, 0.271) ;*/
    background-color: rgba(44, 53, 46, 0.083) ;

}
.about1{
    width: 100%;
    height: 100vh;
    background: url(/Photobook/000230140009.jpg);
    background-position: center;
    background-size: cover;
    grid-column: 1;
}
.about2{
    width: 100%;
    height: 100vh;
    background: url(/Photobook/000230140008.jpg);
    background-position: center;
    background-size: cover;
    grid-column: 2;
    position: relative;
}
.content{
    width: 150px;
    height: 95px;
    /*padding-left: 50px;
    padding-top: 100px;
    margin: auto;*/
    color: #c4aa04;
    overflow: scroll;
    position: absolute;
    top: 83vh;
    left: 5vw;
}
.content .par{
    padding-right: 50px;
    font-family: "Lucida Typewriter";
    color: #c4aa04;
    font-style: italic;
    font-size: medium;
    letter-spacing: 5px;
    line-height: 30px;
    text-align: justify;
    cursor: all-scroll;
    
}
.contact{
    width: 100%;
    background: url(/Photobook/000279440014.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    /*display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 90% 10%;*/
}
.contact-info-background{
    position: absolute;
    top: 57vh;
    left: 55vw;
    background:rgb(255, 166, 0);
    width: 23vw;
    height: 3vh;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

}
.E-mail-box{
    position: absolute;
    top: 54%;
    left: 55%;
    width: 20%;
}
.E-mail{
    /*grid-row: 2;
    grid-column: 2;*/
    color: rgb(255, 166, 0);
    font-family: "Lucida Typewriter";
    font-style: bold;
    font-size: 2vh;
}
.contact-info{
    position: absolute;
    top: 58%;
    left: 55%;
    color: rgb(255, 166, 0);
    font-family: "Lucida Typewriter";
    font-style: bold;
    font-size: 1.8vh;
    text-align: center;

}
.tribute{
    width: 100%;
    background: url(/Photobook/img643.jpg);
    background-position: center;
    background-size: cover;
    height: auto;
    aspect-ratio: 16/10;
    position: relative;
}
.tribute-container{
    height:100vh;
    width: 100%;
    position: relative;
}
.tribute1{
    max-width: 34.7222%;
    position: absolute;
    left: 6.944%;
    top: 10%;
}
.tribute2{
    max-width: 34.7222%;
    position: absolute;
    left: 59.027%;
    top: 50%;
}
.tribute3{
    max-width: 27.777%;
    position: absolute;
    left: 3.472%;
    /*top: 105%;*/
    top: 5%;
}
.tribute4{
    max-width: 31.25%;
    position: absolute;
    left: 62.5%;
    /*top: 170%;*/
    top: 80%


}
.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}
.srch{
    font-family: 'Courier New', Courier, monospace;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid rgb(255, 166, 0);
    border-right: none;
    margin-top: 13px;
    color:#fff;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    /*border-bottom-right-radius: 5px;*/
    /*border-top-right-radius: 5px;*/
}
.btn{
    width: 100px;
    height: 40px;
    background:rgb(255, 166, 0);
    border: 2px solid rgb(255, 166, 0);
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    /*border-bottom-left-radius: 5px;*/
   /* border-top-left-radius: 5px;*/
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;

}
/*.par{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    letter-spacing: 3px;
    line-height: auto;
    text-align: center;
}*/
.fw{
    color: rgb(179, 0, 0);
}


.Test {
    display: block;
    max-width: 10%;
    float: left;
    margin-left: auto;
    margin-right: auto;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.pond{
    width: 100%;
    background: url(Photobook/000279440016.jpg);
    background-position:center;
    background-size:cover;
    height: auto;
    aspect-ratio: 16/10;
    position: relative;
}
#pond{
    max-width: 31.25vw;
    position: absolute;
    top: 22.2222%;
    left: 60.42%;
    transition: 0.5s ease-in-out;
}
#pond:hover{
    max-width: 32.64vw;
    left: 59.72vw;
}
.pond1{
    width: 100%;
    background: url(/Photobook/000279440015.jpg);
    background-position:center;
    background-size:cover;
    height: auto;
    aspect-ratio: 16/10;
    position: relative;
}

#pond1{
    max-width: 31.25%;
    position: absolute;
    top: 22.2222%;
    left: 60.42%;
    transition: 0.5s ease-in-out;
}
#pond1:hover{
    max-width: 32.64vw;
    left: 59.72vw;
}
.plant{
    width: 100%;
    background: url(Photobook/000115170028.jpg);
    background-position:center;
    background-size:cover;
    aspect-ratio: 16/10;
}
.breakfast{
    width: 100%;
    background: url(Photobook/000115170035.jpg);
    background-position:center;
    background-size:cover;
    height: auto;
    aspect-ratio: 16/10;
    position: relative;
}
#breakfast1{
    max-width: 25.6944%;
    position: absolute;
    /* top: 1320px;*/
    /*top: 155.66%;*/
    top: 55.667%;
    left: 60.42%;
    cursor: move;
}
.shade_container{
    width: 100%;
    height: auto;
    aspect-ratio: 16/10;
    position: relative;
}
.shade{
    width: 40%;
    background: url(Photobook/HAwBg.jpeg);
    background-position: center;
    /*margin-left: 50px;
    margin-top: 80px;
    margin-bottom: 50px;*/
    margin-left: 3.472%;
    margin-top: 9.434%;
    margin-bottom: 5.896%;
    background-size: 100%;
    /*height: 1718.5px;  /*original size 3224px x 2161px*/
    /*height: 101.326vh;*/
    height: auto;
    aspect-ratio: 10/14.92;
}
#shade1{
    max-width: 13.889%;
    position: absolute;
    /*top: 220.5189vh;*/
    top: 10%;
    left: 5.5556%;
    cursor: move;
}
#shade2{
    max-width: 29.1667%;
    position: absolute;
    /*top: 247.6415vh;*/
    top: 37.6415%;
    left: 27.7777%;
    cursor: move;
}
#shade3{
    max-width: 31.25%;
    position: absolute;
    top: 58.96%;
    left: 60.42%;
    transition: 0.5s ease-in-out;
}
#shade3:hover{
    max-width: 32.64%;
    left: 59.72%;
}
.windows{
    width: 100%;
    background: url(Photobook/R1-04532-030A.JPG);
    background-position:center;
    background-size:cover;
    height: auto;
    aspect-ratio: 16/10;
    position: relative;
}
#windows1{
    max-width: 31.25%;
    position: absolute;
    top: 16%;
    left: 9.72222%;
    cursor: move;
}
#windows2{
    max-width: 31.25%; 
    position: absolute; 
    top: 49%; 
    left: 65.972%;
    cursor: move;
}
.contain-shapes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    aspect-ratio: 16/10;
    position: relative;
}
.container{
    width: 100%;
}
.shapes{
    width: 100%;
    background: url(Photobook/R1-04532-025A.JPG);
    background-position:center;
   /* margin-left: 50%;*/
    background-size:cover;
    /*height: 1074.0625px;*/
    height: auto;
    aspect-ratio: 10/14.92;
}
#shapes1{
    max-width: 27.777%;
    position: absolute;
    top: 23.585%;
    left: 0%;
    transition: 0.5s ease-in-out;
}
#shapes1:hover{
    max-width: 29.1667%;
}
#shapes2{
    max-width: 27.777%;
    position: absolute;
    /*top: 5168px;*/
    top: 64.117%;
    left: 0%;
    transition: 0.5s ease-in-out;
}
#shapes2:hover{
    max-width: 29.1667%;
}
.reflection{
    width: 100%;
    height: auto;
    aspect-ratio: 16/14;
    position: relative;
}
#reflection1{
    max-width: 48.61%;
    position: absolute;
    top: 10%;
    left: 3.47%;
}
#reflection2{
    max-width: 48.61%;
    position: absolute;
    top: 52%;
    left: 5.556%;
}
#reflection3{
    max-width: 55.556%;
    position: absolute;
    top: 15%;
    left: 55.556%;
}
.brutalism{
    width: 100%;
    background: url(Photobook/000115190018.jpg);
    background-position:center;
    background-size:cover;
    height: auto;
    aspect-ratio: 16/10;
    position: relative;
}

#brutalism1{
    opacity: 1;
    max-width: 27.777%;
    position: absolute;
    top: 10%;
    left: 13.888%;
    transition: 0.8s ease-in-out;
}
#brutalism1:hover{
    max-width: 29.1666%;
    left: 13.194%;
}
#brutalism2{
    opacity: 1;
    max-width: 27.777%;
    position: absolute;
    top: 60%;
    left: 13.888%;
    transition: 0.8s ease-in-out;
}
#brutalism2:hover{
    max-width: 29.1666%;
    left: 13.194%;
}
#brutalism3{
    max-width: 27.777%;
    position: absolute;
    top: 60%;
    left: 59.0278%;
    transition: 0.5s ease-in-out;
}
/*#brutalism3:hover{
    max-width: 420px;
    position: absolute;
    top: 6370px;
    left: 840px;
}*/

&:has(#brutalism3:hover)
#brutalism1{
    opacity: 0;
}
&:has(#brutalism3:hover)
#brutalism2{
    opacity: 0;
}


.concrete{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.concrete1{
    max-width: 100%;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.concrete2{
    max-width: 100%;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.zen{
    width: 100%;
    background: url(Photobook/000115170019.jpg);
    background-position:center;
    background-size:cover;
    height: auto;
    aspect-ratio: 16/10;
    position: relative;
}
.zen1{
    max-width: 34.72%;
    position: absolute;
    top: 33.333%;
    left: 10.4167%;
}
.shower{
    max-width: 100%;
    aspect-ratio: 8/10;
    position: relative;
}
.shower1{
    max-width: 41.667%;
    position: absolute;
    top: 8.333%;
    left: 6.944%;
}
.shower2{
    max-width: 48.611%;
    position: absolute;
    top: 40%;
    left: 41.667%;
}
.shower3{
    max-width: 50%;
    position: absolute;
    bottom: 0%;
    left: 0%;
}
.shower4{
    max-width:  41.667%;
    position: absolute;
    top: 63%;
    left: 20.833%;
}
.dreams{
    width: 100%;
    background: url(Photobook/000085090020.jpg);
    background-position:center;
    background-size:cover;
    aspect-ratio: 16/10;
    position: relative;
}
#dreams1{
    opacity: 0;
    max-width: 31.25%;
    position: absolute;
    top: 11.111%;
    left: 10.4167%;
    transition: 0.5s ease-in;
}
#dreams1:hover{
    opacity:1;
}
#dreams2{
    opacity: 0;
    max-width: 31.25%;
    position: absolute;
    top: 44.444%;
    left: 60.4167%;
    transition: 0.5s ease-in-out;
}
#dreams2:hover{
    opacity: 1;
}
.balcony{
    width: 100%;
    background: url(Photobook/000279440025.jpg);
    background-position:center;
    background-size:cover;
    aspect-ratio: 16/10;
    position: relative;
}
#balcony1{
    max-width: 17.3611%;
    position: absolute;
    top: 8.889%;
    left: 12.5%;
    cursor: move;
}
#balcony2{
    max-width: 20.833%;
    position: absolute;
    top: 44.444%;
    left: 31.25%;
    cursor: move;
}
.como{
    width: 100%;
    background: url(/Photobook/000279440034.jpg);
    background-position:center;
    background-size:cover;
    height: 100vh;
    position: relative;
}
#como1{
    max-width: 34.7222%;
    position: absolute;
    top: 10%;
    left: 6.944%;
}
#como2{
    max-width: 18.75%;
    position: absolute;
    top: 64%;
    left: 69.444%;
}
@media (max-width: 600px)
{
    #como1{
        max-width: 75%;
        top: 45%;
    }
    #como2{
        max-width: 35%;
        top: 80%;
        left: 60%;
    }
    .space_shade{
        /*height: 16vh;*/
        width: 100%;
        aspect-ratio: 20/10;
    }
   
}

.emptiness{
    width: 100%;
    background: url(/Photobook/000279440014.jpg);
    background-position:center;
    background-size:cover;
    height: 100vh;
}
.ruins{
    width: 100%;
    background: url(/Photobook/R1-04532-033A.JPG);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;

}
/*#ruins1{
    max-width: 370px;
    position: absolute;
    top: 3000px;
    left: 100px;
    cursor: move;
}*/
/*.ruins{
    width: 100%;
    height: 100vh;
    background: url(/Photobook/R1-04532-033A.JPG);
    background-position: center;
    background-size: cover;
}*/
#ruins1{
    max-width: 20.83%;
    position: absolute;
    left: 17.3611%;
    top: 73.86%;
    cursor: move;
}

@media (max-width: 600px){
    .ruins{
        background: url(/Photobook/R1-04532-033A.JPG);
        background-size: cover;
        background-position: -65% 0%;
    }

   /* .ruins{
        width: 100vh;
        height: 100vw;
        position: absolute;
        background: url(/Photobook/R1-04532-033A.JPG);
        background-position:center;
        background-size:auto;
        transform: rotate(90deg)translate(0%, 0%);
        transform-origin: center center;
        margin: 0;
    }*/
}
.pigeons{
    background-color: rgba(0, 0, 0, 0.951);
}
.pigeons1{
    width: 100%;
   /* height: 180vh;*/
    aspect-ratio: 8.8889/10;
    position: relative;
}
#pigeons1a{
    max-width: 31.25%;
    position: absolute;
    /*top: 100px;
    left: 100px;*/
    top: 6.1728%;
    left: 6.94444%;

}
#pigeons1b{
    max-width: 34.7222%;
    position: absolute;
    /*top: 380px;
    left: 170px;*/
    top: 24.457%;
    left: 11.8056%;
}
#pigeons1c{
    max-width: 38.1944%;
    position: absolute;
    /*top: 650px;
    left: 80px;*/
    left: 5.5556%;
    top: 40.12345679% ;

}
#pigeons1d{
    max-width: 20.8333%;
    position: absolute;
    /*top: 603px;
    left: 1000px;*/
    left: 69.444%;
    top: 37.222%;
}
#pigeons1e{
    max-width: 48.6111%;
    position: absolute;
    /*top: 800px;
    left: 600px;*/
    left: 41.6667%;
    top: 49.3827%;
}
#pigeons1f{
    max-width: 12.5%;
    position: absolute;
    /*top: 1200px;
    left: 600px;*/
    left: 41.6667%;
    top: 74.074%;
}
.pigeons2{
    width: 100%;
    background: url(/Photobook/R1-04531-003A.JPG);
    background-position: center;
    background-size: cover;
    aspect-ratio: 16/10;
    position: relative;
}
.pigeons3{
    width: 100%;
    aspect-ratio: 16/10;
    position: relative;
    background-color: rgba(0, 0, 0, 0.951);

}
#pigeons2a{
    max-width: 48.6111%;
    position: absolute;
    /*top: 1200px;
    left: 700px;*/
    left: 48.6111%;
    bottom: 0%;
}
.contain-intimate{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    aspect-ratio: 16/10;
}
.intimate1{
    max-width: 100%;
    background: url(/Photobook/000085090018.jpg);
    background-position: center;
    background-size: cover;
    aspect-ratio: 8/10;
    grid-column: 1;
    grid-row: 1 / span 2;
}
.intimate2{
    max-width:100%;
    background: url(/Photobook/R1-04532-001A.JPG);
    background-position: center;
    background-size: cover;
    aspect-ratio: 8/5;
    grid-row: 1;
    grid-column:2;

}
.intimate3{
    max-width:100%;
    background: url(/Photobook/R1-04532-000A.JPG);
    background-position: center;
    background-size: cover;
    aspect-ratio: 8/5;
    grid-area: "downright";
    grid-row: 2;
    grid-column: 2;
}
.space{
    /*height: 16vh;*/
    width: 100%;
    aspect-ratio: 10/1;
}
.bench{
    width: 100%;
    background: url(/Photobook/000279440012.jpg);
    background-position: center;
    background-size: cover;
    aspect-ratio: 16/10;
    position: relative;
}
#bench1{
    max-width: 31.25%;
    position: absolute;
    /*left: 870px;
    top: 50px;*/
    left: 60.4167%;
    top: 5.555%;
}
#bench2{
    max-width: 31.25%;
    position: absolute;
    /*left: 870px;
    top: 380px;*/
    left: 60.4167%;
    bottom: -10%;
}
.legs{
    width: 100%;
    aspect-ratio: 16/15;
    position: relative;
}
#legs1{
    max-width: 48.6111%;
    position: absolute;
    /*top: -50px;
    left: 100px;*/
    top: -3.704%;
    left: 6.944%;
}
#legs2{
    max-width: 48.6111%;
    position: absolute;
    /*top: -50px;
    left: 100px;*/
    top: 34.9855%;
    left: 6.944%;
}
#legs3{
    max-width: 34.722%;
    position: absolute;
    /*top: -200px;
    left: 900px;*/
    left: 62.5%;
    top: 66%
}
.mirror{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30% 65% 5%;
    aspect-ratio: 17/10;
}
.mirror1{
    background: url(/Photobook/000115190035.jpg);
    background-position: center;
    background-size: cover;
    grid-column: 2/ span 3;
    grid-row: 2;
}
.flowersbw{
    width: 100%;
    background: url(Photobook/000115190014.jpg);
    background-position:center;
    background-size:cover;
    aspect-ratio: 16/10;
    position: relative;
}
#flowersbw1{
    max-width: 25.69444%;
    position: absolute;
    /*top: 1100px;
    left: 100px;*/
    top: 6.222%;
    left: 6.944%;
    cursor: move;
}
#flowersbw2{
    max-width: 17.361%;
    position: absolute;
    /*top: 1396px;
    left: 100px;*/
    left: 6.944%;
    top: 39.111%;
    cursor: move;
}
.denise{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.472vw;
    
}
.denise1{
    max-width: 100%;
    margin-left: 3.472%;
    margin-top: 5.5556%;
    margin-bottom: 5.5556%;
}
.denise2{
    max-width: 100%;
    margin-right: 3.472%;
    margin-top: 5.5556%;
    margin-bottom: 5.5556%;
}
.grimey{
    width: 100%;
    background-color: black;
    /*height: 260vh;*/
    aspect-ratio: 16/26;
    position: relative;

}
#grimey1{
    /*max-width: 800px;
    left: 200px;
    top: 100px;
    position: relative;*/
    max-width: 55.555%;
    left: 13.889%;
    top: 4.37%;
    position: absolute;
}
#grimey2{
    /*max-width: 600px;
    left: 700px;
    top: 250px;
    position: relative;*/
    max-width: 41.667%;
    left: 48.611%;
    top: 37.873%;
    position: absolute;

}
#grimey3{
    /*max-width: 500px;
    left: 100px;
    top: 400px;
    position: relative;*/
    max-width: 34.722%;
    left: 6.944%;
    top: 63%;
    position: absolute;
}
.cigarette{
    /*max-width: 565px;
    left: 880px;
    top: 510px;
    position: relative;*/
    max-width: 39.2361%;
    left: 61.11%;
    top: 100%;
    position: absolute;
}

.grimey4{
    width: 100%;
    background: url(/Photobook/R1-04531-033A.JPG);
    background-position: center;
    background-size: cover;
    aspect-ratio: 16/9.34;
}
/*.cigarette{
    width: 100%;
    background: url(/Photobook/R1-04531-034A.JPG);
    background-position: center;
    background-size: cover;
    height: 300vh;
}*/


.fishing{
    width: 100%;
    background: url(Photobook/R1-04531-011A.JPG);
    background-position:center;
    background-size:cover;
    height: 100vh;
}
.hope{
    width: 100%;
    background: url(/Photobook/000279440018.jpg);
    background-position:center;
    background-size:cover;
    height: 100vh;
}
#hope1{
    max-width: 450px;
    position: absolute;
    top: 6200px;
    left: 870px;
    cursor: move;
}
.grandma1{
    width: 100%;
    background: url(/Photobook/img643.jpg);
    background-position:center;
    background-size:cover;
    height: 100vh;
}
